/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:opsz@14..32&display=swap');

:root {
	--white: #F5F5F7;
	--soft-white: #EDEDEF;
	--black: #1D1D1F;
	--soft-black: #272729;
	--highlight: #F0993E;
	--grey: #4D4D4F;
	--light-grey: #A5A5A7;
}

html, body {
	font-family: 'Roboto';
	color: var(--black);
	margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background-color: var(--white);
	background-size: cover;
	overflow: hidden; /* Disable regular scroll */
	
	cursor: default;
	
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
}

/* Back button */
#back_btn {
	position: absolute;
	top: 2rem;
	left: 2.5rem;
	width: 3.5rem;
	height: 3.5rem;
	text-decoration: none;
	color: var(--black);
	background: var(--white);

	z-index: 10;

	transition: 0.3s;
}

#back_btn:hover {
	left: 0rem;
	width: 6rem;
}

#back_btn i {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1.5rem;

	transition: 0.3s;
}

#back_btn:hover i {
	right: 1.5rem;
}

/* Page selection */
#page_selection {
	position: absolute;
	bottom: 3rem;
	left: 4rem;
	display: flex;
	flex-direction: row;

	list-style: none;

	z-index: 10;
}

#page_selection li {
	margin: 0 1rem 0 0;
}

#page_selection li i {
	color: var(--white);
	cursor: pointer;

	transition: 0.3s;
}

/* Scroll tip */
#next_tip {
	position: absolute;
	top: 3rem;
	right: 0.9rem;
	font-size: 1.4rem;
	font-weight: 400;
	writing-mode: vertical-rl;
	color: var(--white);

	cursor: pointer;
	
	z-index: 10;
}

#next_tip i {
	margin: 0 0 0.6rem 0;
}

#vertical_line {
	position: absolute;
	top: 9rem;
	bottom: 25rem;
	right: 3rem;
	width: 0.1rem;
	height: auto;
	background-color: var(--white);
	opacity: 90%;

	z-index: 10;
}

/* Showcase */
.showcase {
	position: absolute;
	object-position: right;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	right: 0;
	
	z-index: 0;

	transition: width 0.8s;
}

.showcase.next {
	width: 0;
	right: 0;

	transition: none;
}

.showcase_desc {
	position: absolute;
	width: 25rem;
	height: 22rem;
	bottom: 3rem;
	right: 3rem;
	background-color: var(--white);
	opacity: 90%;

	z-index: 10;

	transition: 0.3s;
}

.showcase_desc.next {
	opacity: 0%;

	z-index: 9;
}

.showcase_desc h1 {
	position: relative;
	width: 20rem;
	margin: 1.5rem 0 1rem 0;
	left: 2rem;
	font-size: 2.5rem;
	font-weight: 750;
}

.skills{
	position: relative;
	display: inline-block;
	width: 20rem;
	margin: 0 0 1rem 0;
	left: 1.9rem;
}

.skill{
	display: inline;
	font-size: 1em;
	font-weight: 300;
	background: none;
	border: 0.1em solid var(--grey);
	border-radius: 1em;
	margin-right: 0.5em;
	padding: 0.1em 0.5em 0.1em 0.5em;

	transition: 0.1s;
}

.showcase_desc p {
	position: relative;
	width: 20rem;
	margin: 0 0 0.5rem 0;
	left: 2rem;
	font-size: 1.1rem;
	font-weight: 200;
	line-height: 2rem;
}

.showcase_desc a {
	position: absolute;
	margin: 0;
	right: 3rem;
	bottom: 2rem;
	text-decoration: none;
	color: var(--black);
	font-size: 1.1rem;
	font-weight: 300;

	white-space: pre-wrap;

	cursor: pointer;

	transition: 0.3s;
}

.showcase_desc a:hover {
	font-weight: 500;
}

.showcase_desc a i {
	margin: 0 0 0 0.7rem;

	transition: 0.3s;
}

.showcase_desc a:hover i {
	margin: 0 0 0 0.9rem;
}
