/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Inter:opsz@14..32&display=swap');

:root {
	--white: #F5F5F7;
	--soft-white: #EDEDEF;
	--black: #1D1D1F;
	--soft-black: #272729;
	--highlight: #F0993E;
	--grey: #4D4D4F;
	--light-grey: #A5A5A7;
}

html, body {
	font-family: 'Roboto';
	color: var(--black);
	margin: 0;
    padding: 0;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background-color: var(--white);
	background-size: cover;
	overflow: hidden; /* Disable regular scroll */
	
	cursor: default;
	
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;     /* Firefox */
}

#top_bar {
	position: absolute;
	top: 0;
	width: 98%;
	height: 7.5rem;
	/* border-bottom: 1px solid var(--grey); */
	background: var(--white);
	z-index: 10;
}

#top_bar a {
	position: absolute;
	color: var(--soft-black);
	font-size: 2rem;
	margin: 2.5rem 0 0 3.5rem;

	transition: 0.3s;
}

#top_bar a:hover {
	color: var(--black);
	margin: 2.5rem 0 0 3rem;
}

#top_bar h1 {
	position: absolute;
	font-size: 2.5rem;
	font-weight: 900;
	color: var(--soft-black);
	margin: 2rem 0 0 8rem;
}

#entry_grid {
	position: absolute;
	width: 100vw;
	height: 100vh;
    padding-top: 10rem;
	display: grid;
  	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: 32rem;
	gap: 0;
	justify-items: center;
	overflow-y: auto;
}

#entry_grid::-webkit-scrollbar {
 	width: 0.4vw;  /* Vertical scrollbar width *
}

#entry_grid::-webkit-scrollbar-track {
  	background: transparent;  /* Track background */
}

#entry_grid::-webkit-scrollbar-thumb {
	background: var(--grey);  /* Draggable part */
	border-radius: 0.2vw;
}

@media (max-width: 75rem) {
	#entry_grid {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 50rem) {
	#entry_grid {
		grid-template-columns: 1fr;
	}
}

.project_entry {
	position: relative;
    width: 18rem;
	height: 25rem;
	text-decoration: none;
	color: var(--black);
	box-shadow: 0 0 0.5rem var(--light-grey);

	transition: 0.3s;
}

.project_entry:hover {
	box-shadow: 0 0 1rem var(--grey);
}

.project_entry img {
	width: 100%;
}

.project_entry h1 {
	margin: 1rem 1.5rem 1rem 1.5rem;
	font-size: 2rem;
	font-weight: 600;
}

.project_entry p {
	margin: 0 1.5rem 0 1.5rem;
	font-size: 1rem;
	font-weight: 200;
	line-height: 1.6rem;
}
